.square {
    margin:auto;
    position:static;
    float:left;
   /* height: 20px;
    width: 20px;*/
    border-radius:10px;
    background-color: lightblue;
    clear:all;
}/*properties of generated grid squares*/

.container {
    border-style: solid;
    border-color: black;
    margin-top:30px;
    top:30px;
    margin:auto;
    height:500px;
    width: 500px;
    background-color: white;
}/*properties of grid container*/

.on{
    background-color: orange;
}/*properties of triggered grid squares*/

.header{
    font-family:"Orbitron";
    float:top;
    text-align:center;
}/*heading panel above grid*/

.reset{
    margin:0px 5px;
    font-size:50px;
    color:#845623;
    background-color:white;
    padding:10px 15px;
    display:block;
    width:100px;
    height:50px;
    margin-left:auto;
    margin-right:auto;
    margin-top:100px;
    float:bottom;
}/*RESET button*/

/*footer{
    position:absolute;
    bottom:250px;
    left:45%;
    clear:both;    
}/*contains the RESET button*/
