.square {
    margin:auto;
    position:static;
    float:left;
   /* height: 20px;
    width: 20px;*/
    border-radius:5px;
    background-color: lightblue;
    clear:all;
}/*properties of generated grid squares*/

.container {
    box-shadow: 0px 0px 10px 2px teal;
   /* border-style: solid;*/
/*    border-color: black;*/
    margin-top:30px;
    top:30px;
    margin:auto;
    height:500px;
    width: 500px;
    background-color: teal;
}/*properties of grid container*/

.on{
    background-color: teal;
}/*properties of triggered grid squares*/

.header{position:relative;
     background-color:pink;
    box-shadow: 0px 0px 10px 2px #EE6E73;
    font-family: 'Caesar Dressing', cursive;
    font-size:30px;
    top:0px;
    text-align:center;
    height:100%;
    margin:auto;
    margin-bottom:20px;
}/*heading panel above grid*/

.reset{
    font-family:"Orbitron";
    box-shadow: 0px 0px 10px 2px lightblue;
    margin:0px 5px;
    font-size:35px;
    color:black;
    background-color:white;
    display:block;
    width:150px;
    height:70px;
    margin-left:auto;
    margin-right:auto;
    margin-top:70px;
    float:bottom;
}/*RESET button*/

/*footer{
    position:absolute;
    bottom:250px;
    left:45%;
    clear:both;    
}/*contains the RESET button*/
.reset:hover{
    width:160px;
    height:72px;
    box-shadow: 0px 0px 10px 2px teal;
}
.reset span {
  cursor: pointer;
  display: inline-block;
  position: relative;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
}

.reset:hover span {
  font-size: 40px;
}

.reset:hover span:after {
  opacity: 1;
}
body{margin:0;
    background-color:lightblue;
}
html, body { min-height: 100%; }
